@charset "UTF-8";

body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: beige;
color: black;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    font-weight: bolder;
    font-style: normal;
    font-size: 2em;

}

p {
   color: burlywood;
   font-weight: lighter;
   font-size: 0.9em;
   font-style: normal;

}