@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: linear-gradient(to right, gray, aqua);
}

main {
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
    text-align: justify;
    width: 800px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px 
    black;
    margin: 2%;
}

h1 {
    color: blueviolet;
}

h2 {
    color: aliceblue;
}
p {
    text-align: justify;
}

.container {
border: 2px dotted black;
padding: 10px;
}